{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "quotes": [2, "single", "avoid-escape"],
    "semi": "off",
    "@typescript-eslint/semi": ["error"],
    "@typescript-eslint/no-non-null-assertion": "off"
  },
  "env": {
    "browser": false,
    "node": true
  }
}
